@import "tailwindcss";

body {
  background:
    url('src/assets/background-bakery.jpg')
    center/cover
    no-repeat fixed;
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.2);
}